*{
	margin: 0px;
	padding: 0px
}
body{
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	background-color: #030303;
	color: #fff;
	overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

/*	INICIO MENU SUPERIOR	*/

.menu{
	width: 100vw;
	padding-top: 0.2%;
	padding-bottom: 0.6%;
	display: inline-flex;
	user-select: none;
	height: 10vh;
	background-color: #1A1A1A;
}
.menu h2{
	margin-top: 0.1%;
	margin-left: 0.5%;
	width: 50%;
	height: 100%;
	position: relative;
	font-size: calc(170% + 1vmin);
	overflow: hidden;
	vertical-align: middle;
}
.pages{
	width: 50%;
	margin-top: 0.1%;
	margin-right: 0.5%;
	height: 100%;
}
.pages ul{
	float: right;
	height: 100%;
	align-items: center;
}
.pages li{
	margin-left: 4px;
	border-radius: 0px;
	height: 8vh;
	overflow: hidden;
}
.pages li a{
	background-color: transparent!important;
	color: #fff;
}
.pages li a.active{
	color: #fff!important;
}
.pages button{
	font-size: 120%;
}
.pages button i{
	color: #fff;
}
.sun{
	display: none;
}
.pages button:focus{
	border-color: transparent;
	box-shadow: none;
}
.pages li:hover{
	border-bottom: 1.5px solid gray;
	transition-duration: 0.15s;
}

/*	FIM MENU SUPERIOR	*/

/*	INICIO CONTEUDO	*/
.config{
	width: 100%;
	text-align: center;
}
.config button{
	color: #fff;
	font-size: 120%;
	width: 20%;
}
.config button:focus{
	border-color: transparent;
	box-shadow: none;
}
.config button i{
	margin-right: 5px;
}
.adicionar:hover{
	color: #28a745;
}
.editar:hover{
	color: #ffc107;
}
.deletar:hover{
	color: #dc3545;
}
#bdel{
	display: none;
}
.pedidos .row{
	margin-top: 5%;
}
.pedidos div .col-sm{
	text-align: center;
	background-color: #343a40;
	padding-right: 0px;
	padding-left: 0px;
}
.pedidos div .col-sm h3{
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.item{
	display: inline-flex;
	width: 100%;
}
.aria{
	cursor: pointer;
	text-align: center;
	width: 100%;
	font-size: 120%;
	font-weight: 600;
	color: #fff;
    padding: 0px;
    margin-bottom: 1.75%;
}
.aria:hover{
	color: #fff;
}
.aria:focus{
	border-color: transparent;
	box-shadow: none;
}
[aria-label] {
	position: relative;
}
[aria-label]::after {
	content: attr(aria-label);
	display: none;
	position: absolute;
	top: 40%;
	left: 5%;
	pointer-events: none;
	width: 10px;
	height: 10px;
	text-decoration: none;
	color: transparent;
	background-color: #17a2b8;
	border-radius: 50px;
}
[aria-label]:hover::after {
	display: block;
}
.saldo{
	width: 100%;
	height: 90vh;
	padding: 10%;
}
.saldo h1{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: #00E88F;
	font-size: 600%;
	font-weight: bolder;
}
.saldo div{
	width: 100%;
	align-items: baseline;
	justify-content: center;
	display: inline-flex;
}
.saldo div .real{
	font-size: 400%;
	font-weight: bold;
}
.saldo div .centavo{
	font-size: 100%;
	font-weight: bold;
}
.mensal .card{
	height: 95vh;
}
.view{
	display: block;
}
.select{
	display: none;
}


.check {
   position: relative;
   width: 25px;
   height: 25px;
   margin-top: 2.5%;
   left: 5%;
   color: #363839;
   border: 2px solid #bdc1c6;
   border-radius: 4px;
   -webkit-appearance: none;
   outline: 0;
   cursor: pointer;
   -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.check::before {
   position: absolute;
   content: 'X';
   display: block;
   top: -28%;
   left: 18%;
   border-style: solid;
   border-color: #fff;
   border-width: 0;
   opacity: 0;
}
.check:checked {
   color: #fff;
   border-color: #dc3545;
   background: #dc3545;
}
.check:checked::before {
   opacity: 1;
}
.check:checked ~ label::before {
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.laria {
	position: relative;
	cursor: pointer;
	width: 84.25%;
	text-align: center;
	font-size: 120%;
	font-weight: 600;
	user-select: none;
}
.laria::before {
	position: absolute;
	content: attr(data-content);
	color: #9c9e9f;
	clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	text-decoration: line-through;
	text-decoration-color: #fff;
	transition: clip-path 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.laria{
	margin-bottom: 2.25%;
}
.modal-content{
	background-color: #343a40;
}
.modal-content .modal-header{
	background-color: rgba(0,0,0,.03)!important;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.modal-content .modal-footer{
	background-color: rgba(0,0,0,.03)!important;
	border-top: 1px solid rgba(0,0,0,.125);
}

.modal-body{
	width: 100%;
	text-align: center;
}
.modalADC{
	text-align: left;
}
.modal-body button{
	color: #fff;
	font-size: 120%;
}
.modal-body button:focus{
	border-color: transparent;
	box-shadow: none;
}
.modal-body button i{
	margin-right: 5px;
}
.close span{
	color: #fff;
}